<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <title>MAIN HBS TEMPLATE</title>
    <!--set mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0 user-scalable=no">
    <meta name="theme-color" content="#db5945">

    <!--CSS STYLES-->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

    <!--JS LIBRARIES-->
    <script src="/lib/handlebars.min.js"></script>
    <script src="/lib/jquery.js"></script>
    <script src="/lib/bootstrap.js"></script>
</head>

<body>

<h1><span class="fa fa-dot-circle-o"></span> MAIN</h1>
    <div class="container">
        <div>
            {{{body}}}
        </div>
    </div>
</body>

</html>
